.container-fluid {
    background-color: rgb(0, 0, 0);
    text-align: center;
}
.container {
    /* border: 2px solid black; */
    margin-top: 10px;
    padding: 10px;
}
.container>h1 {
    background-color: blue;
    text-align: center;
    padding: 5px;
    color: aliceblue;
}
.container>p {
    text-align: center;
}
.spinner-border {
    margin-left: 48%;
}
.spinner-grow {
    margin-left: 48%;
}